.populerProduct {
    background: #f9f6fd;
    /* height: 100%; */
    height: 100%;
    padding-bottom: 150px;
}

.populerProduct__text {
    padding-top: 100px;
    text-align: center;
}

.populerProduct__text>p {
    color: #202020;
    font-size: 60px;
    font-weight: 600;
    display: inline;
    box-sizing: border-box;
    border: none;
    border-bottom: 7px solid #707070;
    border-top: 7px solid #707070;
}

.populerProduct__card {
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.ant-card {
    margin: 50px;
}

.card__Antd:hover {
    transform: scale(1.1);
}

.button1 {
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #cd55eb;
    border: 2px solid #cd55eb;
    border-radius: 20px;
    display: flex;
    margin-left: 50px;
}

.button1:hover {
    background-color: #cd55eb;
    color: white;
    transform: scale(1.1);
}

.checked {
    color: #feb546;
    font-size: 20px;
}

.ant-card {
    margin: 0px !important;
    margin-right: 25px !important;
}

.ant-card-meta-title {
    font-size: 25px;
}

.populerProduct__card2 {
    margin-top: 40px;
}

@media (max-width:425px) {
    .populerProduct__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ant-card {
        margin-right: 0px !important;
        margin-bottom: 15px !important;
    }
    .populerProduct__text>p {
        font-size: 33px;
        font-weight: 500;
    }
    .populerProduct {
        padding-bottom: 50px;
    }
    .populerProduct__card2 {
        margin-top: 0;
    }
    .button1 {
        padding: 5px 35px !important;
    }
}

@media (max-width:425px) {
    .populerProduct__text>p {
        font-size: 28px;
        font-weight: 400;
    }
}

@media (max-width:768px) {
    .button1 {
        padding: 5px 15px;
    }
}